<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Karla:wght@600&display=swap" rel="stylesheet">
  </head>
  <body class="bg-gradient-to-bl from-pink-500 via-red-500 to-yellow-500">
    {{ content }}
  </body>
  <footer class="absolute bottom-2 w-full text-center">
    <p class="text-white">Collapps is based in Denmark • lone.kjeldgaard.pedersen@gmail.com • CVR DK43415425</p>
  </footer>
</html>
